* {
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(79,26,157,1) 57%, rgba(111,24,159,1) 80%, rgba(198,30,247,1) 100%, rgba(106,13,187,1) 100%);
}

#color1 {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}

#menu {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0%;
}

#logos {
    background: repeat;
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
}

#logos > img {
    background: repeat;
    border-radius: 15px;
}

#opciones {
    background: repeat;
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: rgb(49, 2, 83);
    border-radius: .5rem;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
}
   
.btn:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}

#colorDos {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    background: white;
    margin-left: -08px;
}

#panel {
    position: absolute;
    background: white;
    top: 140%;
    height: 700px;
    width: 1100px;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-radius: 15px;
}

#tutilo {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo > h1 {
    background: white;
    text-align: center;
}

#contenidoS {
    width: 100%;
    height: 400px;
    background: repeat;
    display: flex;
    flex-direction: row;
}

.superior {
    width: 50%;
    height: 100%;
    background: repeat;
    
}

.subtitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    background: white;
    margin-left: 10px;
}

.color {
    background: white;
    margin-left: 10px;
}

#imagenes {
    background: repeat;
    margin-left: 25px;
}

#imagenes > p{
    background: repeat;
    margin-left: 60px;
    margin-top: -35px;
}

.superior > p {
    margin-left: 60px;
    margin-right: 25px;
}




.pie {
    background: repeat;
    font-size: 11px;
    text-align: center;
    margin-top: 45%;
}

.pie > p {
    background: repeat;
}