* {
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

#color1 {
    height: 40%;
    width: 100%;
}

#menu {
    position: absolute;
    height: 50px;
    width: 100%;
}

#logos {
    position: relative;
    width: 40%;
}

#logos img {
    width: 20px;
    height: 20px;
}

#opciones {
    position: relative;
    width: 60%;
    left: 50%;
}

#descripcion {
    position: absolute;
    width: 100%;
    height: 500px;
}

#descUno {
    position: relative;
    width: 50%;
    height: 500px;
}

#interior1 img {
    width: 150px;
    height: 100px;
}

#descDOs {
    position: relative;
    width: 50%;
    height: 500px;
    left: 50px;
}

#interior2 {
    position: relative;
    width: 50%;
    height: 500px;
    left: 50px;
}

#interior2 img {
    width: 150px;
    height: 100px;
}